{{define "content"}}
<div class="bg-light p-4 rounded border shadow-sm">
  <form hx-post="/poll" hx-target="body" hx-push-url="true">
    <div class="mb-4">
      <label for="poll_request" class="block text-lg font-medium"
        >Poll Request</label
      >
      <textarea
        id="poll_request"
        name="poll_request"
        class="mt-2 block w-full rounded-md shadow-sm sm:text-lg"
        rows="3"
        placeholder="e.g., Who is the best meme creator: @user1, @user2, or @user3?"
        required
      ></textarea>
    </div>
    <div class="mt-8">
      <button
        type="submit"
        class="w-full flex justify-center py-3 px-4 border border-transparent rounded-md shadow-sm text-lg font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        Create Poll
      </button>
    </div>
  </form>
</div>
{{end}}
